<article class="ugdg20201212">
  <h1>柔軟な入力方法に対応したタイピングゲームのアルゴリズム</h1>
  <p>
    この記事は<a href="https://adventar.org/calendars/5226" target="_blank">「Unityゲーム開発者ギルド2 Advent Calendar 2020」</a>12日目の記事です。
  </p>
</article>

